// https://tomeofpreach.wordpress.com/2013/09/05/quake-rc-and-being-a-good-citizen/

// load the base configuration
exec default.cfg

// load the last saved configuration
exec config.cfg

// bump up the audio quality - we got high quality sound assets :D
sndspeed "44100"

// reduce annoying underwater tint amount
gl_cshiftpercent "50"

// enable Quake's weapon shifting
r_viewmodel_quake "1"

scr_sbaralpha "1"

// run a user script file if present
exec autoexec.cfg

//scr_printspeed 16

//alias ver "impulse 140"
//alias version_copper "impulse 140"
//alias invoke "impulse 100"
//alias reveal "impulse 101"
//alias debug_trigger "impulse 102"
//alias debug_ammo "impulse 103"
//alias debug_flags "impulse 104"
//alias exterminate "impulse 66"
//alias undying "impulse 215"
//alias suit "impulse 225"
//alias pent "impulse 235"
//alias invis "impulse 245"
//alias ring invis
//alias quad "impulse 255"
//alias idkfa "impulse 9"
//alias keys "impulse 99"

// stuff command line statements
stuffcmds

// Required for large maps (map grid > 4096)
// Required for smooth rotation of cinematic camera's
sv_protocol 999

// open the main menu right away when Dawn is loaded
//menu_main

// start demos if not already running a server
//startdemos demo1 demo2 demo3
